@charset "UTF-8";
.img{
    height: 350px;
}

.banner{
    background-color: mediumpurple;
    height: 12em;
}

.title{
    font-size: 6em;
    text-align: center;
    color: whitesmoke;
}

.subtitle{
    color: white;
    text-align: center;
}

.pagination{
    text-align: center;
    border: solid black;
}

.bottle{
    border : solid black;
}

.label{
    border : solid black;
}
