{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Grababeer</title>
    <link href="{% static '/css/style.css'%}" rel="stylesheet" />
</head>
<body>
    <div class='container-fluid banner'>
        <h1 class='title'>GRABABEER</h1>
        <h3 class='subtitle'>Find the one you deserve</h3>
    </div>

    <div class='container pagination'>
        {{page}}
    </div>

    <a href="{% url 'home:index' %}?pagination=previous&page={{page}}">previous</a>
    <a href="{% url 'home:index' %}?pagination=next&page={{page}}">Next</a>
<!--
    <form action="{% url 'home:index' %}">
        <button name='pagination' value='previous'>Previous</button>
    </form>

    <form action="{% url 'home:index' %}">
        <button name='pagination' value='next'>Next</button>
    </form>
-->
    {% for beer in list_of_beers %}
    <div class='container bottle_label'>
        <div class='row'>
            <div class='col-md-2 bottle'>
                <img class='img' src={{beer.image_url}}>
            </div>
            <div class='col-md-10 label'>
                <h3>{{beer.name}}</h3>
                <p>{{beer.description}}</p>
                <p>IBU: {{beer.ibu}}</p>

                <div class='container'>
                    <div class='row'>
                        <div class='col-4'>
                            <p><strong>Malts</strong></p>
                            {% for element in beer.ingredients.malt %}
                                <li>{{element.name}}</li>
                            {% endfor %}
                        </div>
                        <div class= 'col-4'>
                            <p><strong>Hops</strong></p>
                            {% for element in beer.ingredients.hops %}
                                <li>{{element.name}}</li>
                            {% endfor %}
                        </div>
                        <div class= 'col-4'>
                            <form method='get' action="{% url 'home:save_fav' %}">
                                <button name=favourite_beer value={{beer.id}}>I want this one !</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}


<script type='text/javascript' src="{% static '/js/script.js' %}"></script>
</body>
</html>
