{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Grababeer</title>
    <link href="{% static '/css/style.css'%}" rel="stylesheet" />
</head>
<body>
    <div class='container-fluid banner'>
        <h1 class='title'>GRABABEER APP</h1>
        <h3 class='subtitle'>Find the one you deserve</h3>
    </div>


    <div class='container'>
        <div class='row'>
            <div class='col-md-2 bottle'>
                <img class='img' src="https://images.punkapi.com/v2/192.png">
            </div>
            <div class='col-md-10 bottle'>
                <p>IPA PUNK</p>
                <p>Very good pale ale designed and  brewed in Vancouver</p>
                <p>IBU : 60</p>
                <p>Made out with : weath</p>
        </div>
    </div>

</body>
</html>
