{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Grababeer</title>
    <link href="{% static '/css/style.css'%}" rel="stylesheet" />
</head>
<body>
    <div class='container-fluid banner'>
        <a href="{% url 'home:index' %}"><h1 class='title'>GRABABEER</h1></a>
        <h3 class='subtitle'>My favourites</h3>
    </div>

    {% for beer in list_of_favourite_beers %}
    <div class='container bottle_label'>
        <div class='row'>
            <div class='col-md-2 bottle'>
                <img class='img' src={{beer.0.image_url}}>
            </div>
            <div class='col-md-10 label'>
                <h3>{{beer.0.name}}</h3>
                <p>{{beer.0.description}}</p>
                <p>IBU: {{beer.0.ibu}}</p>

                <div class='container'>
                    <div class='row'>
                        <div class='col-6'>
                            <p><strong>Malts</strong></p>
                            {% for element in beer.0.ingredients.malt %}
                                <li>{{element.name}}</li>
                            {% endfor %}
                        </div>
                        <div class= 'col-6'>
                            <p><strong>Hops</strong></p>
                            {% for element in beer.0.ingredients.hops %}
                                <li>{{element.name}}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}


<script type='text/javascript' src="{% static '/js/script.js' %}"></script>
</body>
</html>